extends layout
block content
  .container
      h2 
        p
         | Hello from Example NodeJs 14
      br         
      br
      h5
        p
         | This is an application build by CI Tekton Pipeline & deployed by ArgoCD.
        p
         | This is a demo (changed src).
      br
      br
